@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');
@import 'core/variables';
@import 'core/reset';

// svg
.svg {
  display: none;
}
.svg__arrow {
  margin-right: 3rem;
  width: 1rem;
  height: 1rem;
  fill: $white;
}
.svg__heart {
  width: 6rem;
  height: 5.5rem;
  margin-left: 1rem;
  fill: $red;
}
.svg__cow {
  width: 6rem;
  height: 5.5rem;
}

// header
.header {
  &__container {
    background-image: url('../images/landing-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  &__nav-container {
    padding-top: 2rem;
    padding-right: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &__nav-ul {
    width: 20%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
  }
  &__nav-item {
    list-style: none;
  }
  &__title {
    font-size: 4rem;
    text-align: center;
    padding: 3.5rem 0;
  }
  &__bar-container {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-flow: row nowrap;
  }
  &__bar-grey {
    margin-left: 0;
    width: 50vw;
    background-color: $marengo;
    height: 1rem;
  }
  &__bar-red {
    width: 50vw;
    background-color: $red;
    height: 1rem;
  }
}

// video
.div-iframe {
  display: block;
  width: 70%;
}
.header__container-iframe {
  margin-bottom: 5rem;
  border: 1rem solid black;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.iframe {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

// main
.main {
  &__container {
    background-color: $black;
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  &__title {
    margin-bottom: 2rem;
    font-size: 3.5rem;
  }
  &__list-item {
    padding-bottom: 1rem;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__link {
    text-decoration: none;
  }
  &__name {
    font-size: 1.5rem;
    &:hover {
      color: $red;
    }
  }
  &__restaurant {
    font-size: 0.75rem;
    color: $grey;
  }
}

// grid
.grid {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 6rem;
  }
}

// footer
.footer {
  &__container {
    padding: 2.5rem 0;
    background-color: $white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  &__small {
    color: $black;
    font-size: 4rem;
  }
}

// responsive

@media all and (min-width: 320) {
  .header {
    &__title {
      font-size: 3rem;
    }
  }
  .div-iframe {
    width: 60%;
  }
  .main {
    &__title {
      font-size: 2.5rem;
    }
    &__name {
      font-size: 1.25rem;
    }
    &__restaurant {
      font-size: 1rem;
    }
  }
}
