@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');
@import 'core/variables';
@import 'core/reset';

// svg
.svg {
  display: none;
}
.svg__arrow {
  margin-right: 3rem;
  width: 2rem;
  height: 2rem;
}
.svg__arrow-back {
  transform: rotate(180deg);
  margin-right: 1.5rem;
  width: 2rem;
  height: 2rem;
}
.svg__arrow-down {
  width: 2rem;
  height: 2rem;
  transform: rotate(90deg);
}
.svg__heart {
  width: 6rem;
  margin-left: 1rem;
}
.svg__cow-white {
  width: 6rem;
  fill: $white;
}

// page
.page {
  &__container {
    height: 100vh;
    padding: 4rem 3rem;
    background-image: url('../images/landing-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}

// header
.header {
  &__container {
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  &__container-2 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__chef-section {
    margin-bottom: 2rem;
  }
  &__chef {
    font-size: 2rem;
  }
  &__recipe {
    font-size: 2.5rem;
    width: 50vw;
  }
  &__arrow-link {
    text-decoration: none;
  }
}

// main
.main {
  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__photo {
    height: 30vh;
  }
  &__video {
    height: 30vh;
    border: 1.5rem solid black;
  }
}

// footer
.footer {
  &__container {
    padding: 2.5rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  &__logos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__we {
    color: $white;
    font-size: 4rem;
  }
  &__download {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__link-recipe {
    font-size: 2rem;
    margin: 0 1rem;
  }
}
