@media all and (max-width: 520px) {
  .header__iframe {
    box-sizing: content-box;
    width: 70vw;
    height: 45vh;
  }
  .header__title {
    font-size: 3.5rem;
  }
  .grid__container {
    padding-left: 1rem;
    display: flex;
    flex-flow: column wrap;
  }
  .grid__item-1 {
    margin: 0;
    padding: 0;
  }
  .grid__item-2 {
    margin: 0;
    padding: 0;
  }
  .main__container {
    padding: 5rem 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .main__title {
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .svg__arrow {
    margin-top: 0;
  }
  .main__list-item {
    margin: 0.5rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .main__name {
    font-size: 1.5rem;
  }
  .main__restaurant {
    font-size: 1rem;
  }
  .footer__small {
    font-size: 4.5rem;
  }
  .footer__heart {
    height: 4rem;
    margin-left: 0.75rem;
  }
  .footer__cow {
    height: 3.5rem;
  }
}
@media all and (max-width: 1024) {
  .header__iframe {
    box-sizing: content-box;
    width: 70vw;
    height: 45vh;
  }
  .header__title {
    font-size: 3.5rem;
  }
  .grid__container {
    padding: 0 5rem;
    display: flex;
    flex-flow: row nowrap;
  }
  .grid__item-1 {
    margin: 0;
    padding: 0;
  }
  .grid__item-2 {
    margin: 0;
    padding: 0;
  }
  .main__container {
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .main__title {
    width: 70vw;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2rem;
  }
  .main__arrow {
    margin-top: 0;
    width: 1rem;
  }
  .main__list-item {
    margin: 0.5rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .main__name {
    font-size: 1.5rem;
  }
  .main__restaurant {
    font-size: 1rem;
  }
  .footer__small {
    font-size: 4.5rem;
  }
  .footer__heart {
    height: 4rem;
    margin-left: 0.75rem;
  }
  .footer__cow {
    height: 3.5rem;
  }
}
